body {
    background-color: Black;
    color : White;  
}
li{
   list-style-type:none;
}
#title {
    text-align: center;
    font-size: 400%;
}
.search{
   font-size:150%;
}

#caption {
    text-align: center;
    font-size: 275%;      
}

.login_button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout_button {
    position: absolute;
    top: 10px;
    right: 15px;
}
.upload_button {
    position: absolute;
    top: 10px;
    right: 73px;
}
.edit_button {
    position: absolute;
    top: 10px;
    right: 153px;
}
.username {
    position: absolute;
    top: 10px;
    right: 350px;
}
.signup_button {
   position: absolute;
   top: 10px;
   right: 60px; 
}

.links {
    text-align: center;
    line-height:  250%;
    color: #FF3030;
    font-size: 200%;
}

